sudo: false
language: node_js
node_js:
- "lts/*"
cache:	
  directories:	
  - node_modules
branches:
  only:
  - master
notifications:
  email: false
before_script:
- npm install
script:
- npm run build
after_success:
- bash ./deploy.sh
